{% extends "base.html" %}
{% load static %}
		{% block title %}
		
		{% endblock title %}
		{% block content %}
		<div class="container container_with_scroll">
			<div class="content_block row no-sidebar">
				<div class="fl-container">
					<div class="posts-block">
						<div class="contentarea">
							<div class="row">
								<div class="span12 span-sm12 scroll_span">
									<div class="scroll_pane_wrap">
										<div class="page_title">
											<h1>Contacts</h1>
										</div>
										<div class='row'>
											<div class='span12 first-module module_number_1 module_cont module_title'>
												<div class='module_inner style5'>
													<div class='bg_title'>
														<h2 class='headInModule'>CONTACT INFO</h2>
													</div>
												</div>
											</div>
											<!-- .module_cont -->
										</div>
										<div class='row'>
											<div class='span6  module_number_2 module_cont contact_info module_html'>
												<div class='module_inner style6'>
													<div class='module_content'>
														<p>155 Sixth Avenue</p>
														<p>12th Floor</p>
														<p>New York, NY, USA 10013</p>
														<span class="icon-Location"></span>
													</div>
												</div>
											</div>
											<!-- .module_cont -->
											<div class='span6  module_number_3 module_cont contact_info module_html'>
												<div class='module_inner style6'>
													<div class='module_content'>
														<p>tel 212-456-7890</p>
														<p>fax 212-346-7892</p>
														<span class="icon-Phone"></span>
													</div>
												</div>
											</div>
											<!-- .module_cont -->
										</div>
										<div class='row'>
											<div class='span6  module_number_4 module_cont contact_info module_html'>
												<div class='module_inner style6'>
													<div class='module_content'>
														<p>General: <a href="mailto:#">info@company.com</a>
														</p>
														<p>Licencing: <a href="mailto:#">info@company.com</a>
														</p>
														<p>Agent: <a href="mailto:#">info@company.com</a>
														</p>
														<span class="icon-Mail"></span>
													</div>
												</div>
											</div>
											<!-- .module_cont -->
											<div class='span6  module_number_5 module_cont  module_html'>
												<div class='module_inner style6'>
													<div class='module_content'>
														<ul class="social_icons">
															<li>
																<a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
															</li>
															<li>
																<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
															</li>
															<li>
																<a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
															</li>
															<li>
																<a href="#" title="Behance"><i class="fa fa-behance"></i></a>
															</li>
															<li>
																<a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a>
															</li>
															<li>
																<a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- .module_cont -->
										</div>
										<div class='row'>
											<div class='span12 module_number_6 module_cont module_layer_slider'>
												<div class='module_inner style45'>
													<div class='bg_title'>
														<h2 class='headInModule'>DROP US A LINE</h2>
													</div>
													<div class='module_content'>
														<div role="form" class="contact_form" lang="en-US" dir="ltr">
															<div class="screen-reader-response"></div>
															<div id="note"></div>
															<div id="fields"> 
																<form id="ajax-contact-form" action="javascript:void(0);" method="post" class="contact-form-01" novalidate="novalidate">
																	<div class="row">
																		<div class="span6">
																			<span class="your-name">
																				<input type="text" name="name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Your Name *" />
																			</span>
																		</div>
																		<div class="span6">
																			<span class="your-email">
																				<input type="email" name="email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Your Email *" />
																			</span>
																		</div>
																		<div class="span12">
																			<span class="your-message">
																				<textarea name="message" cols="40" rows="10" aria-invalid="false" placeholder="Your Message"></textarea>
																			</span>
																		</div>
																	</div>
																	<p>
																		<input type="submit" value="Send message" />
																	</p>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- .module_cont -->
										</div>
										<div class="clear"></div>
										<div class="row">
											<div class="span12">
												<div id="comments"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
	
		{% endblock content %}
			
		