{% extends "base.html" %}
{% load static %}
		{% block title %}
		
		{% endblock title %}
		{% block content %}
		<div class="fs_gallery_megawrapper">
			<div class="fs_title_wrapper">
				<h1 class="fs_title dis-01">&nbsp;</h1>
				<h3 class="fs_descr dis-01">&nbsp;</h3>
			</div>
			<a href="#" class="fs_slider_prev" data-count="13/13"></a>
			<a href="#" class="fs_slider_next" data-count="2/13"></a>
			<div class="fs_controls">
				<a href="#" class="fs_state_play fs_play_pause"><span class="icon-Pause"></span><span class="icon-Play"></span></a>
				<a href="#" class="close_controls fs_controls_toggler"><span class="icon-Fullscreen"></span></a>
				<a href="#" class="info_btn"><span class="icon-Info"></span></a>
			</div>
			<div class="fs_thmb_viewport">
				<div class="label">Thumbs</div>
				<div class="fs_thmb_wrapper">
					<ul class="fs_thmb_list fs_thumbs style8">
						<li class="thmb_slide thmb_slide1" data-count="1">
							<img alt="Happy young people" src="{% static 'img/img10-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide2" data-count="2">
							<img alt="Woman in white short" src="{% static 'img/img6-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide3" data-count="3">
							<img alt="Vimeo Video" src="{% static 'img/team2-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide4" data-count="4">
							<img alt="Two beautiful girls" src="{% static 'img/img7-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide5" data-count="5">
							<img alt="Sporty beautiful woman" src="{% static 'img/img1-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide6" data-count="6">
							<img alt="Happy young people" src="{% static 'img/img5-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide7" data-count="7">
							<img alt="Young sexual woman" src="{% static 'img/img3-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide8" data-count="8">
							<img alt="Sexy young woman" src="{% static 'img/img8-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide9" data-count="9">
							<img alt="Sexy suntanned lady" src="{% static 'img/img2-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide10" data-count="10">
							<img alt="Attractive sexy woman" src="{% static 'img/img4-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide11" data-count="11">
							<img alt="A beautiful young girl" src="{% static 'img/img9-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide12" data-count="12">
							<img alt="Sexy suntanned lady" src="{% static 'img/img11-300x180.jpg' %}">
						</li>
						<li class="thmb_slide thmb_slide13" data-count="13">
							<img alt="Two happy girls" src="{% static 'img/img12-300x180.jpg' %}">
						</li>
					</ul>
				</div>
			</div>
			
			<div class="fs_gallery_trigger personal_preloader"></div>
			<div class="fs_gallery_wrapper fadeOnLoad">
				<ul class="no_fit fs_gallery_container autoplay fs_slider fade video_cover controls_on" data-video="0" data-interval="5000" data-autoplay="autoplay">
					<li class="fs_slide slide_image block2preload fs_slide1" data-count="1" data-src="{% static 'img/img10.jpg' %}" data-title="Happy young people" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide2" data-count="2" data-src="{% static 'img/img6.jpg' %}" data-title="Woman in white short" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_video video_slide fs_slide3" data-id="player5486"  data-count="3" data-title="Vimeo Video" data-descr="You can easily add Vimeo video" data-bg="img/spacer.png" data-src="115819122.html" data-type="vimeo">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide4" data-count="4" data-src="{% static 'img/img7.jpg' %}" data-title="Two beautiful girls" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide5" data-count="5" data-src="{% static 'img/img1.jpg' %}" data-title="Sporty beautiful woman" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide6" data-count="6" data-src="{% static 'img/img5.jpg' %}" data-title="Happy young people" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide7" data-count="7" data-src="{% static 'img/img3.jpg' %}" data-title="Young sexual woman" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide8" data-count="8" data-src="{% static 'img/img8.jpg' %}" data-title="Sexy young woman" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide9" data-count="9" data-src="{% static 'img/img2.jpg' %}" data-title="Sexy suntanned lady" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide10" data-count="10" data-src="{% static 'img/img4.jpg' %}" data-title="Attractive sexy woman" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide11" data-count="11" data-src="{% static 'img/img9.jpg' %}" data-title="A beautiful young girl" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide12" data-count="12" data-src="{% static 'img/img11.jpg' %}" data-title="Sexy suntanned lady" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
					<li class="fs_slide slide_image block2preload fs_slide13" data-count="13" data-src="{% static 'img/img12.jpg' %}" data-title="Two happy girls" data-descr="Beauty <br />Coconut Island <br />2016" data-type="image">
					</li>
				</ul>
			</div>
			<div class='fs_gallery_slider' data-thumbs-btn-title='Thumbs'></div>
		</div>
		{% endblock content %}
			
			<!-- .fs_gallery_megawrapper -->
			<!-- FS Slider End -->
		