{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}

		{% block content %}
		<div class="container">
			<div class="content_block row no-sidebar">
				<div class="fl-container ">
					<div class="posts-block ">
						<div class="contentarea">
							<div class='row'>
								<div class='span12 first-module module_number_1 module_cont  module_layer_slider'>
									<div class='module_inner style5'>
										<div class='module_content'>
											<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container style23" data-source="gallery">
												<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
												<div id="rev_slider_2_1" class="rev_slider fullscreenbanner style24" data-version="5.4.1">
													<ul>
														<!-- SLIDE  -->
														<li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'img/fullscreen2_3-100x50.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
															<!-- MAIN IMAGE -->
															<img src="{% static 'img/dummy.png' %}" alt="" title="Home 3" data-lazyload="{% static 'img/fullscreen2_3.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
															<!-- LAYERS -->

															<!-- LAYER NR. 1 -->
															<div class="tp-caption tp-resizeme slider_title rw-slide-01" id="slide-4-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','1','0','0']" data-y="['top','top','top','top']" data-voffset="['120','153','154','154']" data-fontsize="['300','200','120','80']" data-lineheight="['230','180','130','130']" data-width="1170" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1100,"speed":800,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Creatives</div>

															<!-- LAYER NR. 2 -->
															<div class="tp-caption tp-resizeme rw-slide-02" id="slide-4-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['44','44','44','44']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[7,7,7,7]" data-paddingright="[10,10,10,10]" data-paddingbottom="[7,7,7,7]" data-paddingleft="[12,12,12,12]">with love for</div>

															<!-- LAYER NR. 3 -->
															<div class="tp-caption rev-btn rw-slide-03" id="slide-4-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['378','378','378','378']" data-width="137" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(100,112,167,1);bg:rgba(255,255,255,1);"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[12,12,12,12]" data-paddingright="[20,20,20,20]" data-paddingbottom="[13,13,13,13]" data-paddingleft="[20,20,20,20]">buy theme</div>
														</li>
														<!-- SLIDE  -->
														<li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'img/fullscreen2_1-100x50.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
															<!-- MAIN IMAGE -->
															<img src="{% static 'img/dummy.png' %}" alt="" title="Home 3" data-lazyload="{% static 'img/fullscreen2_1.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
															<!-- LAYERS -->
															<!-- LAYER NR. 4 -->
															<div class="tp-caption tp-resizeme slider_title rw-slide-04" id="slide-5-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','1','0','0']" data-y="['top','top','top','top']" data-voffset="['120','153','154','154']" data-fontsize="['300','200','120','80']" data-lineheight="['230','180','130','130']" data-width="1170" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1100,"speed":800,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Creatives</div>
															<!-- LAYER NR. 5 -->
															<div class="tp-caption tp-resizeme rw-slide-05" id="slide-5-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['44','44','44','44']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[7,7,7,7]" data-paddingright="[10,10,10,10]" data-paddingbottom="[7,7,7,7]" data-paddingleft="[12,12,12,12]">with love for</div>
															<!-- LAYER NR. 6 -->
															<div class="tp-caption rev-btn rw-slide-06" id="slide-5-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['378','378','378','378']" data-width="137" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(100,112,167,1);bg:rgba(255,255,255,1);"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[12,12,12,12]" data-paddingright="[20,20,20,20]" data-paddingbottom="[13,13,13,13]" data-paddingleft="[20,20,20,20]">buy theme</div>
														</li>
														<!-- SLIDE  -->
														<li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'img/fullscreen2_2-100x50.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
															<!-- MAIN IMAGE -->
															<img src="{% static 'img/dummy.png' %}" alt="" title="Home 3" data-lazyload="{% static 'img/fullscreen2_2.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
															<!-- LAYERS -->

															<!-- LAYER NR. 7 -->
															<div class="tp-caption tp-resizeme slider_title rw-slide-07" id="slide-6-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','1','0','0']" data-y="['top','top','top','top']" data-voffset="['120','153','154','154']" data-fontsize="['300','200','120','80']" data-lineheight="['230','180','130','130']" data-width="1170" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1100,"speed":800,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Creatives</div>

															<!-- LAYER NR. 8 -->
															<div class="tp-caption tp-resizeme rw-slide-08" id="slide-6-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['44','44','44','44']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[7,7,7,7]" data-paddingright="[10,10,10,10]" data-paddingbottom="[7,7,7,7]" data-paddingleft="[12,12,12,12]">with love for</div>

															<!-- LAYER NR. 9 -->
															<div class="tp-caption rev-btn rw-slide-09" id="slide-6-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['378','378','378','378']" data-width="137" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(100,112,167,1);bg:rgba(255,255,255,1);"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[12,12,12,12]" data-paddingright="[20,20,20,20]" data-paddingbottom="[13,13,13,13]" data-paddingleft="[20,20,20,20]">buy theme</div>
														</li>
													</ul>
													<div class="tp-bannertimer tp-bottom dis-02"></div>
												</div>
											</div>
											<!-- END REVOLUTION SLIDER -->
										</div>
									</div>
								</div>
								<!-- .module_cont -->
							</div>
							<div class="module_line_trigger fw_block wall_wrap bg_cover dis-03" data-pad-top="44px">
								<div class='row'>
									<div class='span12  module_number_2 module_cont text-center module_title'>
										<div class='module_inner style5'>
											<div class='bg_title'>
												<h3 class='headInModule style5-title'>PORTFOLIO</h3>
											</div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
								<div class='row'>
									<div class='span12  module_number_3 module_cont  module_divider'>
										<div class='module_inner style5'>
											<hr>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
								<div class='row'>
									<div class='span12  module_number_4 module_cont  module_portfolio'>
										<div class='module_inner style5'>
											<div class="filter_block">
												<ul id="options" class="splitter">
													<li>
														<ul class="optionset" data-option-key="filter">
															<li class="selected">
																<a href="#" data-option-value="*">All works</a>
															</li>
															<li>
																<a data-option-value=".advertisiment" href="#" title="View all post filed under ">Advertisiment</a>
															</li>
															<li>
																<a data-option-value=".fashion" href="#" title="View all post filed under ">Fashion</a>
															</li>
															<li>
																<a data-option-value=".nature" href="#" title="View all post filed under ">Nature</a>
															</li>
															<li>
																<a data-option-value=".photo" href="#" title="View all post filed under ">Photo</a>
															</li>
														</ul>
													</li>
												</ul>
											</div>
											<div class='portfolio_packery type_grid4' data-filter-color="#474b52">
												<div class="packery_item element fashion photo  grid_item_width2_height2">
													<div class="packery_inner">
														<div class="packery_img_block">
															<a target='_self' href="portfolio-with-right-sidebar.html" class="packery_grid_href"></a>
															<img src="{% static 'img/img10-1000x964.jpg' %}" alt="" />
															<div class="packery_fadder"></div>
														</div>
														<div class="portfolio_grid_content">
															<div class="pgc_left_part">
																<h6 class="portfolio_grid_title"><a href="portfolio-with-right-sidebar.html" target='_self'>Donec blandit egestas</a></h6>
															</div>
															<div class="pgc_right_part">
																<div class="post_info">
																	<div class="post_share">
																		<a href="#">share</a>
																		<div class="share_wrap">
																			<ul>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																				</li>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																				</li>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="likes_block post_likes_add " data-postid="230" data-modify="like_port">
																		<span class="icon-Heart icon"></span>
																		<span class="like_count">30</span>
																	</div>
																</div>
																<!-- .post_info -->
															</div>
															<div class="clear"></div>
														</div>
													</div>
												</div>
												<div class="packery_item element fashion">
													<div class="packery_inner">
														<div class="packery_img_block">
															<a target='_self' href="portfolio-with-right-sidebar.html" class="packery_grid_href"></a>
															<img src="{% static 'img/video_featured-500x482.jpg' %}" alt="" />
															<div class="packery_fadder"></div>
														</div>
														<div class="portfolio_grid_content">
															<div class="pgc_left_part">
																<h6 class="portfolio_grid_title"><a href="portfolio-with-right-sidebar.html" target='_self'>Sed non quam vel mi sit</a></h6>
															</div>
															<div class="pgc_right_part">
																<div class="post_info">
																	<div class="post_share">
																			<a href="#">share</a>
																			<div class="share_wrap">
																					<ul>
																							<li>
																								<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																							</li>
																							<li>
																								<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																							</li>
																							<li>
																								<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																							</li>
																					</ul>
																			</div>
																	</div>
																	<div class="likes_block post_likes_add " data-postid="229" data-modify="like_port">
																		<span class="icon-Heart icon"></span>
																		<span class="like_count">21</span>
																	</div>
																</div>
																<!-- .post_info -->
															</div>
															<div class="clear"></div>
														</div>
													</div>
												</div>
												<div class="packery_item element nature">
													<div class="packery_inner">
														<div class="packery_img_block">
															<a target='_self' href="portfolio-with-right-sidebar.html" class="packery_grid_href"></a>
															<img src="{% static 'img/img7-500x482.jpg' %}" alt="" />
															<div class="packery_fadder"></div>
														</div>
														<div class="portfolio_grid_content">
															<div class="pgc_left_part">
																<h6 class="portfolio_grid_title"><a href="portfolio-with-right-sidebar.html" target='_self'>Nullam mauris orci aliquet</a></h6>
															</div>
															<div class="pgc_right_part">
																<div class="post_info">
																	<div class="post_share">
																		<a href="#">share</a>
																		<div class="share_wrap">
																			<ul>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																				</li>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																				</li>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="likes_block post_likes_add " data-postid="227" data-modify="like_port">
																		<span class="icon-Heart icon"></span>
																		<span class="like_count">11</span>
																	</div>
																</div>
																<!-- .post_info -->
															</div>
															<div class="clear"></div>
														</div>
													</div>
												</div>
												<div class="packery_item element advertisiment  grid_item_width2_height1">
													<div class="packery_inner">
														<div class="packery_img_block">
															<a target='_self' href="portfolio-with-right-sidebar.html" class="packery_grid_href"></a>
															<img src="{% static 'img/img1-1000x482.jpg' %}" alt="" />
															<div class="packery_fadder"></div>
														</div>
														<div class="portfolio_grid_content">
															<div class="pgc_left_part">
																<h6 class="portfolio_grid_title"><a href="portfolio-with-right-sidebar.html" target='_self'>Aenean lectus elit fermentum</a></h6>
															</div>
															<div class="pgc_right_part">
																<div class="post_info">
																	<div class="post_share">
																		<a href="#">share</a>
																		<div class="share_wrap">
																			<ul>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																				</li>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																				</li>
																				<li>
																					<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="likes_block post_likes_add " data-postid="225" data-modify="like_port">
																		<span class="icon-Heart icon"></span>
																		<span class="like_count">15</span>
																	</div>
																</div>
																<!-- .post_info -->
															</div>
															<div class="clear"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
							</div>
							<!-- module_line_trigger -->
							<div class="module_line_trigger fw_block bg_cover dis-04" data-pad-top="0px">
								<div class='row'>
									<div class='span12  module_number_5 module_cont  module_text_area'>
										<div class='module_inner style25'>
											<div class='module_content'>
												<p class="style25-text">
													<img class="style25-img" src="{% static 'img/content_logo_light.png' %}" alt="" width="87" height="83" />
												</p>
												<p class="welcome_text style25-text-02">We are Digital Creative Agency on a mission to turn the world into the best one. We create joyful digital ideas, products and experiences that connect the hearts of
													<br />brands to the hearts of their consumers.</p>
												<p class="style25-text-03">
													<a href="#" class="hasIcon shortcode_button btn_normal btn_type18"><i class="icon-none"></i>get in touch</a>
												</p>
											</div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
							</div>
							<!-- module_line_trigger -->
							<div class="module_line_trigger fw_block wall_wrap bg_cover style26" data-pad-top="0px">
								<div class='row'>
									<div class='span12  module_number_6 module_cont  module_iconboxes'>
										<div class='module_inner style5'>
											<div class='iconboxes_container items3 type2 divider_enabled icon-type_image' data-dividercolor="#ffffff" data-headingcolor="#ffffff" data-descriptioncolor="#ffffff">
												<div class='module_content shortcode_iconbox' data-section-bg="#363b43">
													<a target='_self' href='#' title='View more'>
														<div class='iconbox_wrapper'>
															<div class='iconbox_icon-image style27'>
																<img src='{% static 'img/iconbox_icon7.png' alt='' />
															</div>
															<div class='icon_title_wrap'>
																<h2 class='iconbox_title'>web</h2>
															</div>
															<div class='icon_box_divider'></div>
															<div class='iconbox_body'>
																<p>The excitement and anticipation as we waited to see the next piece of unpredictable chaos was electric.</p>
															</div>
														</div>
													</a>
												</div>
												<div class='module_content shortcode_iconbox' data-section-bg="#776eb3">
													<a target='_self' href='#' title='View More'>
														<div class='iconbox_wrapper'>
															<div class='iconbox_icon-image style27'>
																<img src='{% static 'img/iconbox_icon8.png' alt='' />
															</div>
															<div class='icon_title_wrap'>
																<h2 class='iconbox_title'>print</h2>
															</div>
															<div class='icon_box_divider'></div>
															<div class='iconbox_body'>
																<p>The excitement and anticipation as we waited to see the next piece of unpredictable chaos was electric.</p>
															</div>
														</div>
													</a>
												</div>
												<div class='module_content shortcode_iconbox' data-section-bg="#93cbe0">
													<a target='_self' href='#' title='View More'>
														<div class='iconbox_wrapper'>
															<div class='iconbox_icon-image style27'>
																<img src='{% static 'img/iconbox_icon9.png' alt='' />
															</div>
															<div class='icon_title_wrap'>
																<h2 class='iconbox_title'>motion</h2>
															</div>
															<div class='icon_box_divider'></div>
															<div class='iconbox_body'>
																<p>The excitement and anticipation as we waited to see the next piece of unpredictable chaos was electric.
																</p>
															</div>
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
							</div>
							<!-- module_line_trigger -->
							<div class="module_line_trigger fw_block  bg_cover dis-05" data-pad-top="0px">
								<div class='row'>
									<div class='span12  module_number_7 module_cont  module_promo_text'>
										<div class='module_inner style28'>
											<div class="shortcode_promoblock ">
												<div class="promoblock_wrapper">
													<div class="promo_text_block">
														<div class="promo_text_block_wrapper">
															<p class="promo_text_block_wrapper-text">Need a Photo Session?</p>
															<h1 class='promo_text_main_title head-02'>WE ARE BEAUTY HUNTERS!</h1>	
														</div>
													</div>
													<div class="promo_button_block">
														<a href="#" target="_self" class="shortcode_button btn_normal btn_type19"><i class="icon-none"></i>get in touch</a>
													</div>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
							</div>
							<!-- module_line_trigger -->
							<div class="module_line_trigger fw_block wall_wrap bg_cover style29" data-pad-top="0px">
								<div class='row'>
									<div class='span12 module_number_8 module_cont  module_feature_posts'>
										<div class='module_inner style5'>
											<div class="items4 featured_posts clearfix">
												<div class="featured_item">
													<div class="blog_post_preview image-post-format">
														<div class="blog_post_image">
															<div class="pf_output_container">
																<a href="post-with-slideshow.html">
																	<img src="{% static 'img/featured_img-500x439.jpg' %}" alt="" />
																</a>
															</div>
														</div>
														<div class="blog_content">
															<div class="listing_meta">
																<span>Sep 02 &#039;16</span>	
																<span class="blog_post_author">by <a href="#" class="text-capitalize">gt3demo</a></span>
																<span class="comments"><a href="#">2</a></span>
															</div>
															<div class="blog_post_title">
																<h2><a href="post-with-slideshow.html">Post With Image</a></h2>
																<div class="blog_post_format_label"></div>
															</div>
														</div>
														<a href="post-with-slideshow.html" class="learn_more">read on</a>
														<div class="post_info">
															<div class="post_share">
																<a href="#">share</a>
																<div class="share_wrap">
																	<ul>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																		</li>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																		</li>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="likes_block post_likes_add " data-postid="100" data-modify="like_post">
																<span class="icon-Heart icon"></span>
																<span class="like_count">13</span>
															</div>
														</div>
													</div>
												</div>
												<div class="featured_item">
													<div class="blog_post_preview video-post-format">
														<div class="blog_post_image">
															<div class="pf_output_container">
																<a href="post-with-slideshow.html">
																	<img src="{% static 'img/featured_video-500x439.jpg' %}" alt="" />
																</a>
															</div>
														</div>
														<div class="blog_content">
															<div class="listing_meta">
																<span>Sep 02 &#039;16</span>	
																<span class="blog_post_author">by <a href="#" class="text-capitalize">gt3demo</a></span>
																<span class="comments"><a href="#">3</a></span>
															</div>
															<div class="blog_post_title">
																<h2><a href="post-with-slideshow.html">Post With Video</a></h2>
																<div class="blog_post_format_label"></div>
															</div>
														</div>
														<a href="post-with-slideshow.html" class="learn_more">read on</a>
														<div class="post_info">
															<div class="post_share">
																<a href="#">share</a>
																<div class="share_wrap">
																	<ul>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																		</li>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																		</li>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="likes_block post_likes_add " data-postid="95" data-modify="like_post">
																<span class="icon-Heart icon"></span>
																<span class="like_count">9</span>
															</div>
														</div>
													</div>
												</div>
												<div class="featured_item">
													<div class="blog_post_preview audio-post-format">
														<div class="blog_post_image">
															<div class="pf_output_container">
																<a href="post-with-slideshow.html">
																	<img src="{% static 'img/img2-500x439.jpg' %}" alt="" />
																</a>
															</div>
														</div>
														<div class="blog_content">
															<div class="listing_meta">
																<span>Sep 01 &#039;16</span>	
																<span class="blog_post_author">by <a href="#" class="text-capitalize">gt3demo</a></span>
																<span class="comments"><a href="#">0</a></span>
															</div>
															<div class="blog_post_title">
																<h2><a href="post-with-slideshow.html">Audio Title Goes Here</a></h2>
																<div class="blog_post_format_label"></div>
															</div>
														</div>
														<a href="post-with-slideshow.html" class="learn_more">read on</a>
														<div class="post_info">
															<div class="post_share">
																<a href="#">share</a>
																<div class="share_wrap">
																	<ul>
																			<li>
																				<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																			</li>
																			<li>
																				<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																			</li>
																			<li>
																				<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																			</li>
																	</ul>
																</div>
															</div>
															<div class="likes_block post_likes_add " data-postid="84" data-modify="like_post">
																<span class="icon-Heart icon"></span>
																<span class="like_count">6</span>
															</div>
														</div>
													</div>
												</div>
												<div class="featured_item">
													<div class="blog_post_preview image-post-format">
														<div class="blog_post_image">
															<div class="pf_output_container">
																<a href="post-with-slideshow.html">
																	<img src="{% static 'img/img3-500x439.jpg' %}" alt="" />
																</a>
															</div>
														</div>
														<div class="blog_content">
															<div class="listing_meta">
																<span>Aug 30 &#039;16</span>	
																<span class="blog_post_author">by <a href="#" class="text-capitalize">gt3demo</a></span>
																<span class="comments"><a href="#">0</a></span>
															</div>
															<div class="blog_post_title">
																<h2><a href="post-with-slideshow.html">Post With Slideshow</a></h2>
																<div class="blog_post_format_label"></div>
															</div>
														</div>
														<a href="post-with-slideshow.html" class="learn_more">read on</a>
														<div class="post_info">
															<div class="post_share">
																<a href="#">share</a>
																<div class="share_wrap">
																	<ul>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Twitter"></span></a>
																		</li>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Facebook"></span></a>
																		</li>
																		<li>
																			<a target="_blank" href="#"><span class="icon-Pinterest"></span></a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="likes_block post_likes_add " data-postid="82" data-modify="like_post">
																<span class="icon-Heart icon"></span>
																<span class="like_count">16</span>
															</div>
														</div>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
							</div>
							<!-- module_line_trigger -->
							<div class="module_line_trigger fw_block  bg_cover dis-05 dis-05" data-pad-top="0px">
								<div class='row'>
									<div class='span12  module_number_9 module_cont  module_partners'>
										<div class='module_inner style30'>
											<div class="module_content sponsors_works items4">
												<ul>
													<li>
														<div class="item_wrapper">
															<div class="item">
																<a href='#' target='_blank'>
																	<img src="{% static 'img/gt3themes.png' %}" alt="" title="GT3themes" />
																</a>
															</div>
														</div>
													</li>
													<li>
														<div class="item_wrapper">
															<div class="item">
																<a href='#' target='_blank'>
																	<img src="{% static 'img/pixeden.png' %}" alt="" title="Pixeden" />
																</a>
															</div>
														</div>
													</li>
													<li>
														<div class="item_wrapper">
															<div class="item">
																<a href='#' target='_blank'>
																	<img src="{% static 'img/wp.png' %}" alt="" title="Html template" />
																</a>
															</div>
														</div>
													</li>
													<li>
														<div class="item_wrapper">
															<div class="item">
																<a href='#' target='_blank'>
																	<img src="{% static 'img/themeforest.png' %}" alt="" title="Themeforest" />
																</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- .module_cont -->
								</div>
							</div>
							<!-- module_line_trigger -->
							<div class="clear"></div>
							<div class="row">
								<div class="span12">
									<div id="comments"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		{% endblock content %}
	