{% extends "base.html" %}
{% load static %}
		{% block title %}
		
		{% endblock title %}
		{% block content %}
		<div class="shift_gallery_wrapper">
			<div class="shift_gallery">
				<div class="shift_slide odd_slide1 odd_slide" data-count="1" data-bg="{% static 'img/img7.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Two beautiful girls</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide even_slide1 even_slide" data-count="1" data-bg="{% static 'img/img6.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Hot happy girl</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide odd_slide2 odd_slide" data-count="2" data-bg="{% static 'img/img11.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Sexy suntanned lady</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide even_slide2 even_slide" data-count="2" data-bg="{% static 'img/img13.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Sexy woman</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide odd_slide3 odd_slide" data-count="3" data-bg="{% static 'img/img4.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Attractive sexy woman</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide even_slide3 even_slide" data-count="3" data-bg="{% static 'img/img3.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Young sexual woman</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide odd_slide4 odd_slide" data-count="4" data-bg="{% static 'img/coming_soon.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Penny Boar</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
				<div class="shift_slide even_slide4 even_slide" data-count="4" data-bg="{% static 'img/img1.jpg' %}">
					<div class="shift_title_wrapper">
						<h2 class="shift_title">Sporty beautiful woman</h2>
						<span class="title_seperator"></span>
						<h4 class="shift_caption">Beauty <br />Coconut Island <br />2020</h4>
					</div>
				</div>
			</div>
			<!-- .shift_gallery -->
			<a href="javascript:void(0)" class="shift_btn_prev"></a>
			<a href="javascript:void(0)" class="shift_btn_next"></a>
		</div>
		
	{% endblock %}